.container {
  display: flex;
  justify-content: center;
}
.tag.active {
  border-bottom: solid 3px var(--a-color);
}
.tag__who.active{
  background-color: #ccccc4;
  border-radius: 20px;
  width: 125%;
  text-align: center;
}
.tag__during.active{
  background-color: #ccccc4;
  border-radius: 20px;
  width: 125%;
  text-align: center;
}
.tag__how.active{
  background-color: #ccccc4;
  border-radius: 20px;
  width: 125%;
  text-align: center;
}
/* .pagination {
  display: flex;
  flex-direction: row;
	text-align:center;
	font-size:0;
  margin: auto;
  cursor: pointer;
 } */
 .pageing-box{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.pagination {
  display: inline-block;
  cursor: pointer;
}

.pagination li {
  display: block;
  margin: 0 3px;
  float: left;
  border: 1px solid #e6e6e6;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: #999999;
  text-decoration: none;
}
.pagination li a {
  color: #999999;
}

.pagination .arrow {
  border: 1px solid #ccc;
}

.pagination li.active {
  background-color: #42454c;

  border: 1px solid #42454c;
}

.pagination li.active {
  color: #fff;
}

.sort-list.active {
  color: black;
  font-weight: bold;
  border-bottom: solid 3px var(--a-color);
}
.sort-list{
  margin-left: 10px;
  font-weight: 200;
}

#topBox{
  margin-top: 3%;
  margin-left: 10%;
}

.mainBox{
  width: 65%;
  height: 100%;
  margin-bottom: 100px;
}
.count-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.sort{
  display: flex;
  color: #98938d;
  cursor: pointer;

}

.hr2{
  width: 100%;
  height: 2px;
  background-color: #b6b0a9;
  border: 0;
}

.nav{
  width: 13%;
  height: 450px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: #f0ece6;
  position: sticky;
  top: 20%;
  margin-left: 2%;
}

.favorite-infobox{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.favortie-tema{
  color: black;
}
.image-box{
  width: 20%;
  height: 150px;
  background-color: #353535;
}

.image-box img{
  width: 100%;
  height: 150px;;
}

.favorite-info__box{
  display: flex;
  justify-content: space-between;
  width:78%;
  margin-left: 2%;
}

.favorite-icon{
  font-size: 25px;
  cursor: pointer;
}

.favorite-name{
  font-size: 2rem;
  margin-bottom: 10px;
  cursor: pointer;
  color: black;
}
.favorite-start{
  margin-bottom: 30px;
  color: black;
}

.favorite-info span{
  margin-right: 10px;
}

.fa-heart{
  color: #FF7E79;
}

.lieks{
  color: black;
}

.tag{
  cursor: pointer;
  margin-bottom: 10px;
}

.nav-subbox{
  margin-left: 10%;
  margin-right: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.tag-during{
  margin-top: 30px;
  margin-bottom: 30px;
}


@media screen and (max-width: 768px) {
   
    #middleBox{
        display: block;
        
    }
   .nav{
    position: absolute;
    top: 11%;
    left: 0px;
    display:inline-block;
    width:100%;
    margin:0;
    height:150px;
    padding-top:10px;
   }
   .mainBox{
   	width: calc(40px + 100% - 40px);
   	margin-bottom:40px;
   }
   #topBox{
   	padding:0px;
   	margin:0px;
   }
   .favorite-name{
  	font-size:1.5rem;
   }
   .favorite-start{
   	margin-bottom: 10px;
   	font-size: 0.9em;
   }
   .favortie-tema{
   	font-size: 0.8em;
   }
   .lieks{
   	display: block;
   	margin-bottom: 10px
   }
   .image-box{
   	width:140px;
   }
   
   
   .nav-subbox{
   	display:flex;
   	justify-content: space-around;
   	margin-left:0px;
   	margin-right: 0px;
   }
   
   .tag-during{
   	margin-top:0px;
   	margin-bottom:0px;
   }
   #layoutContainer{
   	margin-top: 150px;
   }
}