@charset "UTF-8";

#layoutContainer {
  display: flex;
  justify-content: space-between;
}

#closeMenu {
  display: none;
  margin: 10% 5%;
}
#showMenu {
  background-color: #999999;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.categories {
  background-color: var(--c-color);
  border-radius: 1rem;
  width: 220px;
  padding: 1em 0.7em;
  height: 100%;
  top: 15px;
  right: 0;
  position: sticky;
  margin: 8px;
}

.area-list,
.month-list {
  display: inline-block;
  padding: 5px 10px 2px 10px;
  border-radius: var(--font-large);
  margin: 0.2em 0.5em;
}
.area-title {
  margin-bottom: 3%;
}
.categories ul {
  border-top: 0.1em solid var(--d-color);
  border-bottom: 0.1em solid var(--d-color);
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60vw;
  max-width: 750px;
  /* max-height: 150px;
  min-height: 140px; */
  border-bottom: 1px solid var(--d-color);
  border-top: 1px solid var(--d-color);
  padding: 1em;
}

.card img {
  min-width: 160px;
  width: 160px;
  height: 150px;
  min-height: 150px;
  border: 1px solid var(--b-color);
}

.list-container {
  margin-left: 5%;
}

.array-list {
  display: flex;
  flex: row;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.info .title {
  font-size: var(--font-large);
  margin: 7px 0;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}
.hidden {
  display: none;
}

.date,
.place,
.title {
  margin: 0 0 15px 0;
}

.active {
  background-color: var(--a-color);
}

/* 페이징 */

.pagination {
  margin: 2vh 0 2vh 0;
  display: flex;
  justify-content: center;
}

.pagination li {
  cursor: pointer;
  display: block;
  margin: 0 3px;

  border: 1px solid #e6e6e6;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: #999999;
  text-decoration: none;
}
.pagination li a {
  color: #999999;
}

.pagination .arrow {
  border: 1px solid #ccc;
}
.pagination li.active {
  background-color: #42454c;

  border: 1px solid #42454c;
}

.pagination li.active a {
  color: #fff;
}
@media all and (min-width: 1024px) {
  .categories {
    display: block;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #layoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #closeMenu {
    display: block;
  }

  #showMenu {
    display: block;
  }
  .categories {
    height: 40%;
    position: absolute;
    width: 70%;
    z-index: 99;
    display: none;
    margin: 0;
    padding: 10% 15% 0 15%;
    left: 0%;
    top: 0%;
    z-index: 120;
    border-radius: 0;
  }

  .card {
    width: 100%;
  }

  .place-list {
    width: 95%;
  }
}

@media all and (max-width: 767px) {
  #layoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #closeMenu {
    display: block;
  }

  #showMenu {
    display: block;
  }
  .categories {
    height: 80%;
    position: absolute;
    display: none;
    width: 70%;
    z-index: 99;
    margin: 0;
    padding: 10% 15% 0 15%;
    left: 0%;
    top: 0%;
    z-index: 120;
    border-radius: 0;
  }

  .info {
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .list a {
    height: 100%;
  }
  .place-list {
    width: 100%;
  }

  .place {
    display: none;
  }
  .info .title {
    font-size: var(--font-medium);
    width: 80%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
}
