.top-box__h3{
    color: #b6b0a9;
}

#topBox{
    margin-top: 3%;
    margin-left: 10%;
}

hr{
    width: 89%;
    height: 3px;
    background-color: #353535;
    border: 0;

}

.hr2{
    width: 100%;
    height: 2px;
    background-color: #b6b0a9;
    border: 0;
}
#middleBox{
    display: flex;
    justify-content: center;
}

#mainBox{
    width: 65%;
    height: 100%;
    margin-bottom: 100px;
    
}
#infoBox{
    display: flex;
    justify-content: space-between;
}

#navBox{
    width: 13%;
    height: 50vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #f0ece6;
    position: sticky;
    top: 30%;
    margin-left: 2%;
}

.nav-text{
    margin-left: 20px;
    margin-top: 20px;
    color: #98938d;
}
.nav-text:nth-child(1){
    color: black;
    font-weight: bold;
    background-color: #ccccc4;
    border-radius: 100px;
    width: 50px;
    text-align: center;
}

.courselist-box{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-box{
    width: 20%;
    height: 150px;
    background-color: #353535;
}
.image-box img{
    width: 100%;
    height: 150px;
}

.courselist-info__box{
    display: flex;
    justify-content: space-between;
    width:78%;
    margin-left: 2%;
}

.courselist-icon{
    font-size: 25px;
    cursor: pointer;
}

.courselist-name{
    font-size: 2rem;
    margin-bottom: 10px;
    cursor: pointer;
}
.courselist-start{
    margin-bottom: 30px;
}

.courselist-info span{
    margin-right: 10px;
}

.count-box{
    margin: 20px 0;
}

#makeCourse{
    margin: 20px 0;
    width: 100px;
    text-align: center;
    cursor: pointer;
    background-color: #98938d;
    color: white;
    padding: 2%;
    margin-left: 20px;
}

#makeCourseBox__main{
    display: flex;
    justify-content: space-between;
}
#makeCourseBox{
    margin-top: auto;
    margin-bottom: auto;
}
#makeCourseBox2{
    display: flex;
    margin: auto auto;
}

.show{
    display: flex;
}
.hide{
    display: none;
}

#courseName{
    height: 50%;
}
#createCourse__btn{
    width: 100px;
}

.pageing-box{
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .pagination {
    display: inline-block;
    cursor: pointer;
  }
  
  .pagination li {
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: #999999;
    text-decoration: none;
  }
  .pagination li a {
    color: #999999;
  }
  
  .pagination .arrow {
    border: 1px solid #ccc;
  }
  
  .pagination li.active {
    background-color: #42454c;
  
    border: 1px solid #42454c;
  }
  
  .pagination li.active {
    color: #fff;
  }


  @media screen and (min-width: 768px) and (max-width: 1024px) {
    #middleBox{
        display: block;
    }
   #navBox{
    position: absolute;
    top: 0px;
    left: 0px;
   }
}


@media screen and (max-width: 768px) {
    body{
        background-color: #42454c;
    }
    #middleBox{
        display: block;
        border: 1px solid red;
    }
   #navBox{
    position: absolute;
    top: 0px;
    left: 0px;
   }
}