<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
    <meta charset="UTF-8" />
    <title>라온나드리 | 대한민국 여행 길라잡이</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 검색 최적화 meta 태그.-->
    <meta name="naver-site-verification" content="92398a7cc59bc53b21161dcc9b6d632e604b7572" />
    <meta name="description" content="대한민국 관광지 소개. 나만의 코스를 만들어서 공유해보세요! ">
    <meta property="og:type" content="website"> 
    <meta property="og:title" content="라온나드리 | 대한민국 여행 길라잡이">
    <meta property="og:description" content="대한민국 관광지 소개. 나의 코스를 확인해보세요! ">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ef2b91ef7608dc08c402b6c4764534cd&libraries=drawing" ></script>
    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/style.css" />
    
    	<script src="/js/main.js" defer></script>
    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>
    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script"></th:block>
</head>

</html>